/*css jfx-button-login*/
.JFXButton{
    -fx-background-color: linear-gradient(#000046, #1cb5e0);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 26 26 26 26;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.JFXButton:hover{
    -fx-background-color: linear-gradient(#1a2980, #26d0ce);
    -fx-font-weight:bold;
}
.JFXButton:pressed{
    -fx-background-color: linear-gradient(#1a3030, #26d0ce);
}



/*css jfx-button-signup*/
.JFXButton{
    -fx-background-color: linear-gradient(#000046, #1cb5e0);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 26 26 26 26;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.JFXButton:hover{
    -fx-background-color: linear-gradient(#1a2980, #26d0ce);
    -fx-font-weight:bold;
}
.JFXButton:pressed{
    -fx-background-color: linear-gradient(#1a3030, #26d0ce);
}



/*css jfx-button-close-Signup-page, Login-page*/
.JFXButton-Close{
    -fx-background-color: transparent;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}
.JFXButton-Close:hover{
    -fx-pref-height: 52px;
    -fx-pref-width: 52px;
}



/*css jfx-button-taskbar*/
.jfx-button-main-view{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgb(189, 195, 199), 0, 0, 1.4, 1);

}
.jfx-button-main-view:hover{
    -fx-border-color: rgba(44, 83, 100, 0.7);
    -fx-background-color: transparent;
    /*-fx-background-color: rgb(44, 83, 100);*/
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}
.jfx-button-main-view:focused{
    -fx-effect: dropshadow(gaussian, rgb(189, 195, 199), 0, 0, 1.4, 1);
    -fx-background-color: rgba(44, 83, 100, 0.7);
    -fx-font-size: 20px;
}



/*css jfx-button-functions*/
.jfx-button-main-view-option{
    /*-fx-background-color: rgba(36, 36, 62, 0.6);*/
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgb(189, 195, 199), 0, 0, 1.4, 1);
}
.jfx-button-main-view-option:hover{
    -fx-background-color: rgba(0, 4, 40, 0.7);
    -fx-border-color: rgba(44, 83, 100, 0.7);
    -fx-font-size: 21px;
}
.jfx-button-main-view-option:focused{
    -fx-background-color: rgba(44, 83, 100, 1);
    -fx-font-size: 20px;
}