.jfx-button-login{
    -fx-background-color: linear-gradient(#000046, #1cb5e0);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 26 26 26 26;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.jfx-button-login:hover{
    -fx-background-color: linear-gradient(#1a2980, #26d0ce);
    -fx-font-weight:bold;
}
.jfx-button-login:pressed{
    -fx-background-color: linear-gradient(#1a3030, #26d0ce);
}

.jfx-button-signup{
    -fx-background-color: linear-gradient(#000046, #1cb5e0);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 26 26 26 26;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.jfx-button-signup:hover{
    -fx-background-color: linear-gradient(#1a2980, #26d0ce);
    -fx-font-weight:bold;
}
.jfx-button-signup:pressed{
    -fx-background-color: linear-gradient(#1a3030, #26d0ce);
}

.jfx-button-main-view{
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-font-family: Sans-Serif;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.jfx-button-main-view:hover{
    -fx-border-color: #536976;
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}
.jfx-button-main-view:focused{
    -fx-border-color: #292E49;
    -fx-font-size: 24px;
}

.jfx-button-main-view-icon{
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-font-family: Sans-Serif;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.jfx-button-main-view-icon:hover{
    -fx-border-color: rgba(44, 83, 100, 0.7);
    -fx-background-color: transparent;
}
.jfx-button-main-view-icon:focused{
    -fx-border-color: rgba(44, 83, 100, 0.7);
}

.jfx-button-signup-back{
    -fx-background-color: transparent;
    -fx-background-radius: 15 15 15 15;
    -fx-border-radius: 15 15 15 15;
}
.jfx-button-signup-back:hover{
    -fx-border-color: rgba(44, 83, 100, 0.7);
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}