.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: rgba(50, 50, 50, 1);
    -fx-background-radius: 10 10 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-font-family: Sans-Serif;
    -fx-text-fill: white;
}
.table-view .column-header .label{
    -fx-text-fill: white;
}
.table-view .table-cell{
    -fx-background-color: rgba(27, 27, 27, 1);
    -fx-border-color: #777777;
    -fx-border-width: 0.3px;
    -fx-pref-height: 32px;
    -fx-alignment: center_left;
}
.table-row-cell: hover {
    -fx-background-color: rgba(50, 50, 50, 1);
    -fx-text-background-color: rgba(68, 68, 68, 1);
}
.table-row-cell: odd{
    -fx-background-color: rgba(50, 50, 50, 1);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-row-cell: even{
    -fx-background-color: rgba(68, 68, 68, 1);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #40C4FF;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #40C4FF;
}
.table-row-cell: highlighted {
    -fx-background-color: #40C4FF;
    -fx-background-radius: 15px;
}