# Hỗ trợ Test Report cho Tester

## 1. Test report là gì

Test report là mẫu báo cáo kiểm thử dành cho tester ở khoảng thười gian giữa dự án, thể hiện tiến độ công việc.
Test Report được xác định như một tài liệu chứa các thông tin về các hành động đã được thực thi (Chạy test cases, 
phát hiện lỗi, thời gian bỏ ra...) và các kết quả của quá trình thực thi này (test case không thành công/thành công, 
số lượng bugs và crashes...)

Thực tế có ít nhất 3 lý do cho việc chuẩn bị Test Reports:

1. Bản Test Report tốt sẽ cho phép "nhóm phát triển" có thể đánh giá trạng thái hiện tại của dự án cũng như chất lượng của sản phẩm.

2. Có khả năng đưa ra những quyết định sáng suốt nếu cần thiết.

3. Test Report có thể là tài liệu cuối cùng xác định việc sản phẩm đã sẵn sàng phát hành hay chưa.

## 2. Hỗ trợ Test Report cho các tester nhóm SE_04

### 2.1. Giao diện Login.

| Module Name      | Login           |  
|------------------|-----------------|
| Create date      | 30-1-2023       |
| Tester           | Nguyễn Kim Hùng |
| Test Environment |                 | 

| Total Executed Testcases | Passed | Failed | Inprogressing | Pending | Blocked | Total |
|--------------------------|--------|--------|---------------|---------|---------|-------|
| 23                       | 23     | 0      | 0             | 1       | 0       | 24    |


| Test Case ID | Test Items                 | Pre-condition          | Test Data | Test Steps                                                                              | Expected results | A result |Comments     |
|--------------|----------------------------|------------------------|---------|-----------------------------------------------------------------------------------------|------------------|----------|-----|
| Login_0001   | Kiểm tra bỏ trống username | Truy nhập vào hệ thống |         | 1. Bỏ trống trường username<br/>2. Nhập đúng password<br/>3. Click vào button "Sign in" | Thông báo "Vui lòng điền đủ thông tin."       | Pass     |     |
| Login_0002   |                            |                        |         |                                                                                         |                  |          |     |
| Login_0003   |                            |                        |         |                                                                                         |                  |          |     |
| Login_0004   |                            |                        |         |                                                                                         |                  |          |     |
|              |                            |                        |         |                                                                                         |                  |          |     |
|              |                            |                        |         |                                                                                         |                  |          |     |
|              |                            |                        |         |                                                                                         |                  |          |     |
|              |                            |                        |         |                                                                                         |                  |          |     |
|              |                            |                        |         |                                                                                         |                  |          |     |
|              |                            |                        |         |                                                                                         |                  |          |     |

